@model NotesMarketPlace.Models.Users
@{
    ViewBag.Title = "Email Verification";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<section id="ev">
        <div class="container">

            <div class="row">
                <div class="background">
                    <div class="col-md-12 col-sm-10 col-12 col-lg-12 col-xl-12">
                        <img class="img-fluid" src="img/pre-login/logo.png">

                        <div class="email-content">
                            <h2>Email Verification</h2>
                            <h4>Dear @ViewBag.name,</h4>
                            <p>Thanks for Signing Up!</p>
                            <p>Simply click below for email verify.</p>
                        </div>

                        <button type="submit" class="btn text-center" id="btn"><a href="@Url.Action("Verify","SignUp",new { code = Model.SecretCode.ToString() })"><b>VERIFY EMAIL ADDRESS</b></a></button>
                    </div>

                </div>
            </div>
        </div>
</section>

