@model NotesMarketPlace.Models.Users
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width-device-width, initial-scale=1">

    <!-- title -->
    <title>Email Verification</title>

    <!-- icon -->
    <link rel="Icon" href="~/Content/Front/img/favicon/favicon.ico">

    <!-- font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!-- font awesome -->
    <link rel="stylesheet" href="~/Content/Front/css/font-awesome/css/font-awesome.min.css">

    <!-- bootstrap css  -->
    <link rel="stylesheet" href="~/Content/Front/css/bootstrap/bootstrap.min.css">

    <!-- custom css -->
    <link rel="stylesheet" href="~/Content/Front/css/style.css">

    <!-- responsive css -->
    <link rel="stylesheet" href="~/Content/Front/css/responsive.css">

    <style>
        .form-error {
            color: red;
        }
    </style>
</head>

<body>

    <section id="ev">
        <div class="container">

            <div class="row">
                <div class="background">
                    <div class="col-md-12 col-sm-10 col-12 col-lg-12 col-xl-12">
                        <img class="img-fluid" src="img/pre-login/logo.png">

                        <div class="email-content">
                            <h2>Email Verification</h2>
                            <h4>Dear @ViewBag.name,</h4>
                            <p>Thanks for Signing Up!</p>
                            <p>Simply click below for email verify.</p>
                        </div>

                        <button type="submit" class="btn text-center" id="btn"><a href="@Url.Action("Verify","SignUp",new { code = Model.SecretCode.ToString() })"><b>VERIFY EMAIL ADDRESS</b></a></button>
                    </div>

                </div>
            </div>
        </div>

    </section>

    <!-- JQuery -->
    <script src="~/Scripts/Front/js/jquery.min.js"></script>

    <!-- validation -->
    <script src="~/Scripts/jquery.validate.min.js"></script>

    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="~/Scripts/Front/js/bootstrap/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="~/Scripts/Front/js/script.js"></script>


</body>
</html>
