@model NotesMarketPlace.Models.ForgotPassword
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width-device-width, initial-scale=1">

    <!-- title -->
    <title>Forgot Password</title>

    <!-- icon -->
    <link rel="Icon" href="~/Content/Front/img/favicon/favicon.ico">

    <!-- font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!-- font awesome -->
    <link rel="stylesheet" href="~/Content/Front/css/font-awesome/css/font-awesome.min.css">

    <!-- bootstrap css  -->
    <link rel="stylesheet" href="~/Content/Front/css/bootstrap/bootstrap.min.css">

    <!-- custom css -->
    <link rel="stylesheet" href="~/Content/Front/css/style.css">

    <!-- responsive css -->
    <link rel="stylesheet" href="~/Content/Front/css/responsive.css">

    <style>
        .form-error {
            color: red;
        }
        .text2 p{
            color: #28a745;
        }
    </style>
</head>

<body>
    <section id="login">
        <div id="forgotpassword" class="container">


            <div class="row justify-content-center">
                <div id="logo" class="text-center">
                    <img src="~/Content/Front/img/pre-login/top-logo.png" class="img-fluid" alt="Login">
                </div>
            </div>

            <div class="row justify-content-center">

                <div class="col-xl-8 col-12 col-md-12 col-sm-11 col-lg-9 ">
                    <div id="forgotpassword-form">

                        <!-- Heading -->
                        <div id="forgotpassword-head" class="text-center">
                            <h2>Forgot Password?</h2>
                            <p>Enter your email to reset your password</p>

                        </div>
                        @if (TempData["Success"] != null)
                        {
                            <div class="text-center text2">
                                <p><span><i class="fa fa-check-circle"></i>@TempData["Success"]</span></p>
                            </div>
                        }

                        <!-- Form -->

                        @using (Html.BeginForm("ForgotPassword", "SignUp", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <!-- Email -->
                            <div class="form-group">
                                <label class="label" for="exampleInputEmail1">Email</label>

                                @Html.ValidationMessageFor(x => x.EmailID, "", new { @class = "form-error" })
                                @Html.TextBoxFor(x => x.EmailID, new { @class = "form-control ", @id = " exampleInputEmail1", @placeholder = "Enter your email address" })
                            </div>

                            <!--Button -->
                            <button type="submit" class="btn text-center" id="btn"><b>SUBMIT</b></button>
                        }

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- JQuery -->
    <script src="~/Scripts/Front/js/jquery.min.js"></script>

    <!-- validation -->
    <script src="~/Scripts/jquery.validate.min.js"></script>

    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/Scripts/Front/js/bootstrap/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="~/Scripts/Front/js/script.js"></script>
</body>

</html>